/*FONTS*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* some common css */
*{
    box-sizing: border-box;
}
body{
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--bs-black);
}
:root{
	--primary-color: #5899CC;
    --text-light-grey:#585858;
    --text-white:#fff;
    --text-grey:#878d92;
    --text-black:#000;
    --text-lg-black:#1C1F35;
    --text-dark-blue:#3985C7;
    --text-dark-grey: #636363;
    --color-light-blue: #3985C7;
    --color-orange: #EC7D1A;
    --color-light-grey: #333333;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #000;
	transition: all .3s ease-in-out;
}
/*a:hover{
	color: var(--primary-color);
}*/
.lh-normal{
	line-height: normal;
}
.lh-9{
	line-height: 9px;
}
.lh-24{
    line-height: 24px
}
.lh-26{
    line-height: 26px
}
.lh-32{
    line-height: 32px
}
.lh-38{
    line-height: 38px
}
.lh-52{
	line-height: 52px;
}
.lh-72{
    line-height: 72px
}
.fs-8{
	font-size: 8px;
}
.fs-10{
	font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
	font-size: 24px;
}
.fs-30{
	font-size: 30px;
}
.fs-35{
	font-size: 35px;
}
.fs-40{
	font-size: 40px;
}
.fs-46{
	font-size: 46px;
}
.fs-48{
	font-size: 48px;
}
.fs-50{
	font-size: 50px;
}
.fs-60{
    font-size: 60px;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
.text-dark-grey{
	color: var(--text-dark-grey);
}
.color-light-blue{
	color: var(--color-light-blue);
}
.text-dark-blue{
	color: var(--text-dark-blue);
}
.color-orange{
	color: var(--color-orange);
}
.color-light-grey{
	color: var(--color-light-grey);
}
.color-lg-black{
	color: var(--text-lg-black);
}
.color-white{
	color: #fff;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.primary-btn{
	background-color: var(--primary-color);
	padding: 10px 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	border-radius: 6px;
	transition: all .3s ease-in-out;
}
.primary-btn:hover{
	color: #fff;
	background-color: #376285;
}
.secondary-btn{
    background-color: var(--text-white);
    padding: 10px 20px;
	color: #3985C7;
	font-size: 14px;
	font-weight: 500;
	border-radius: 6px;
	transition: all .3s ease-in-out;
}
.secondary-btn:hover{
	background-color: #3985C7;
	color: #fff;
	transition: all .3s ease-in-out;
}


/*Site CSS Starts Here*/
img {
    width: 100%;
    height: 100%;
}
.header-img img{
	width: 180px;
}

/*Header Css Starts*/
.prdt-logo img{
    width: 120px;
}
.prdt-nav-wrap ul{
    flex-direction: row;
}
.prdt-nav-wrap ul li a{
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #817e7f;
}
.product-header{
    padding: 12px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 12px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    background: #fff;
}
.prdt-search-wrap .form{
    position: relative;
}
.form .fa-search{
    position: absolute;
    top:15px;
    left: 20px;
    color: #9ca3af;
}
.prdt-search-wrap .form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}
.left-pan{
    padding-left: 7px;
}
.left-pan i{ 
   padding-left: 10px;
}
.prdt-search-wrap .form-input{
    height: 45px;
    width: 475px;
    text-indent: 33px;
    border-radius: 8px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
}
.form-input:focus{
    box-shadow: none;
    border:none;
}
.header-rgt-img{
    background-color: #F6F6F6;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.header-rgt-img:hover img{
    filter: invert(1)brightness(10);
}
.header-rgt-img img{
    width: 25px;
    height: 25px;
}
.prdt-logo{
    width: 10%;
}
.prdt-nav-wrap{
    width: 35%;
}
.prdt-search-wrap{
    width: 35%;
}
.prdt-header-rgt{
    width: 20%;
    justify-content: end;
}
.dropDown {
  display: inline-block;
  position: relative;
  z-index: 9;
}
.dropDown:hover .dropDown-content {
  display: inline;
}
.dropDown-content {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -570px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
  padding: 12px 20px;
  width: 1130px;
  transition: all .3s ease-out;
}
.dropDown-cnt-wrap{
    position: fixed;
    top: 53px;
    bottom: 0;
    left: 64px;
    right: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}
.prdt-nav-wrap .navbar-nav .dropDown.hovered-menu .dropDown-cnt-wrap{
    visibility: visible;
}
.dropDown-content-wrap{
    margin-right: 24px;
}
.dropDown-content-wrap ul{
    border-bottom: 1px solid #eaeaec;
    padding-bottom: 8px;
}
.dropDown-content-heading a {
    color: #599ACC;
}
.dropDown-content li a {
  color: black;
  display: block;
}
.dropDown-content .dropItem{
    margin-bottom: 10px;
}
.dropDown-content .dropItem a{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin-right: 0;
}
.dropDown-content .dropItem a:hover{
    color: #5899cc;
}
.header-rgt-img:hover{
    background-color: #5899cc;
}
.prdt-nav-wrap .navbar-nav .dropDown.result_hover .dropDown-cnt-wrap{
    visibility: visible;
    opacity: 1;
}
/*Header Css Ends*/

.filter-head img{
	width: 22px;
}
.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.form-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #eee;
  padding: 6px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 12px;
  width: 18px;
  height: 18px;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 8px;
  left: 6px;
  width: 6px;
  height: 8px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.filter-head{
	 padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 1px solid #e9e9ed;
}
.single-dropdown{
  padding-left: 20px;
      padding-right: 10px;
          max-height: 214px;
    overflow-x: hidden;
        scrollbar-width: thin;
    overflow-y: auto;
}
.sidebar-filter-btn{
      all: unset;
    background-color: transparent;
    color: #000;
    width: 100%;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0 !important;
}
.filter-data hr{
  border: 1px solid #e9e9ed;
  margin: 14px 0;
    opacity: .88;
}
.single-dropdown ul.list-main{
  padding-left: 0;
}
.single-dropdown ul .list-item{
	font-size: 14px;
	color: #8A8989;
}
.price-range{
    border-bottom: 1px solid #BEBCBD;
    padding-bottom: 12px;
}

.range-slider {
  width: 225px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;
}
.range-slider svg,
.range-slider input[type=range] {
  position: absolute;
  left: 0;
  bottom: 26px;
}
input[type=number] {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=number]:invalid,
input[type=number]:out-of-range {
  border: 2px solid #ff6347;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #2497e3;
}
input[type=range]:focus::-ms-fill-lower {
  background: #2497e3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #2497e3;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type=range]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

.toggle {
  all: unset;
  background-color: transparent;
  color: #000;
  width: 100%;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0!important;
}
.toggle::after {
  content: "";
  width: 10px;
  height: 10px;
  color: #4a8fc5;
  border-width: 0 3px 3px 0;
  border-style: solid;
  transform: rotate(45deg);
  transition: 0.4s;
}
.list {
  background-color: white;
  color: #444;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
  margin-top: 18px;
  padding-left: 15px;
}
.list-item {
  margin-bottom: 14px;
  transition: 0.4s, transform 0.4s var(--delay);
  user-select: none;
  cursor: pointer;
}
.list-item:hover {
  color: #4a8fc5!important;
}
.toggle.active::after {
  transform: rotate(225deg);
}
.list.show{
	height: auto;
}
/*.toggle:focus ~ .list {
  height: auto;
}
.toggle:focus ~ .list .list-item {
  transform: translateX(0);
}*/

.arrow-img{
	position: relative;
    display: flex;
}
.arrow-img img{
	position: absolute;
	right: 53px;
}
.bestseller-single-card{
 	background-color: rgba(248, 248, 248, 0.53);
 	border-radius: 5px;
    border: 1px solid #f8f8f887;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 8px !important;
     width: 100%;
    position: relative;
    border-radius: 8px;
}

.product-list-card{
    background-color: rgba(248, 248, 248, 0.53);
 	border-radius: 5px;
    border: 1px solid #f8f8f887;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 8px !important;
    width: 24%;
    position: relative;
    border-radius: 8px;
}

.bestseller-content h3{
	font-size: 14px;
    line-height: 18px;
	color: #2A2F2F;
	font-weight: 600;
	margin-bottom: 0;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    max-height: 56px; 
}
.bestseller-content span {
    font-size: 12px;
    color: #00B852;
}
.bestseller-img > img {
    width: 100%;
    height: 245px;
    object-fit: cover;
      border-radius: 8px 8px 0 0;
}
.rating-container{
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 0 5px;
    background-color: hsla(0, 0%, 100%, .8);
    border-radius: 2px;
}
.bestseller-content p{
	font-size: 14px;
	color: #737373;
	line-height: 28px;
	font-weight: 500;
	margin-bottom: 0;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 56px;
}
.shops-now-btn a:hover{
	background-color: #4a8fc5;
}
.product-detail-sec-inner{
  padding-right: 16px;
}
.product-detail-sec-inner .col-md-3{
  width: 20%;
}
.product-detail-sec-inner .col-md-9{
   width: 80%;
}
.bestseller-content span{
	font-size: 14px;
	color: #00B852;
}
.bestseller-content{
	padding: 8px 15px;
}
.ratings-count .product-seperator{
	font-size: 16px;
	font-weight: 300;
    margin: -.5px 6px 0 -2px;
}
.rating-container img{
	width: 12px;
	height: 12px;
	margin: 0 6px;
}
.rating-container{
	margin-bottom: 6px;
}
.prd-icn-wrap{
	position: absolute;
    top: 10px;
    right: 6px;
    display: flex;
    flex-direction: column;
    transform: translateX(37px);
    transition: all ease-in-out .4s;
}
.bestseller-img:hover .prd-icn-wrap{
	transform: translateX(0);
}
.prd-icn-wrap img{
	width: 20px;
	object-fit: contain;
}
.prd-icn-wrap a .heart-fill{
	transform: scale(0);
}
.prd-icn-wrap a{
	width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wishlist-icn img{
	position: absolute;
}
.share-icn img{
	height: 20px;
	padding: 2px;
}
.add-cart-btn img{
	width: 18px;
}
.add-cart-btn{
	position: absolute;
	bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 8px 0;
    transform: translateY(37px);
    transition: all ease-in-out .4s;
}
.add-cart-btn a p{
	color: #5899cc;
}
.bestseller-img:hover .add-cart-btn{
	transform: translateY(0);
}
.add-cart-btn:hover{
	background-color: #5899cc;
}
.add-cart-btn:hover img{
    filter: invert(1) brightness(10);
}
.add-cart-btn:hover p{
	color: #fff;
}
.price-discount-wrap h5 {
    color: #282c3f;
    font-size: 12px;
    font-weight: 400;
    margin: 0 8px 0 6px;
    opacity: .7;
    text-decoration: line-through;
}
.price-discount-wrap{
    align-items: baseline!important;
}
.bestseller-content h4 {
    font-size: 16px;
    color: #282c3f;
}
.product-dtl-rgt-inner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*product-color-css-starts-here*/
.custom-radios div {
  display: inline-block;
}
.custom-radios input[type=radio] {
  display: none;
}
.custom-radios input[type=radio] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  position: relative;
  width: 30px;
  height: 30px;
}
.custom-radios input[type=radio] + label span.prdt-clr-crcl {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
  position: absolute;
  top: 1px;
  left: 1px;
}
.prdt-clr-brdr{
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    z-index: -1;
}
.custom-radios input[type=radio] + label .prdt-clr-brdr {
  opacity: 0;
  transition: all 0.3s ease;
}
.custom-radios input[type=radio]#color-one + label span.prdt-clr-crcl {
  background-color: #2ecc71;
}
.custom-radios input[type=radio]#color-two + label span.prdt-clr-crcl {
  background-color: #3498db;
}
.custom-radios input[type=radio]#color-three + label span.prdt-clr-crcl {
  background-color: #f1c40f;
}
.custom-radios input[type=radio]#color-four + label span.prdt-clr-crcl {
  background-color: #e74c3c;
}
.custom-radios input[type=radio]:checked + label .prdt-clr-brdr {
  opacity: 1;
}
/*product-color-css-ends-here*/
/*product-size-css-start*/
.product-size-wrap .prd-custm-radio input[type=radio] + label{
    width: 70px;
    height: 38px;
    cursor: pointer;
    margin-right: 16px;
    margin-bottom: 15px;
}
.custom-radios input[type=radio] + label span.prdt-size-crcl{
    border: 1px solid #BEBCBD;
    border-radius: 12px;
    background: #fff;
    color: #3C4242;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
.custom-radios input[type=radio]:checked + label span.prdt-size-crcl{
    background: #3C4242;
    color: #fff;
    border: 1px solid #3C4242;
}
.prd-custm-radio div{
    width: 32%;
}
/*product-size-css-ends*/
.colors-choose{
    border-bottom: 1px solid #BEBCBD;
    padding-bottom: 12px;
}
.size-wrap{
    border-bottom: 1px solid #BEBCBD;
    padding-bottom: 12px;
}
.sub-dropdown .toggle{
    font-size: 16px;
    color: #8A8989;
}
.dress-style .list{
    padding-left: 0;
}
.sub-dropdown .list{
    padding-left: 15px;
}
.size-wrap .list{
    padding-left: 0;
}
.price-range .list{
    padding-left: 0;
}
.sort-filter-mobile-wrap{
    display: none;
}

/*Fotter Css Starts Here*/
.site-ftr-items a{
  font-size: 14px;
  font-weight: 400;
  color: #000;
    line-height: 1;   
    margin-bottom: 15px;
}
.site-ftr-items-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.site-ftr-items-wrap a{
    margin-bottom: 0px;
    margin-left: 10px;
}
.site-ftr-headline h3{
  color: #599ACC;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.site-ftr-items-wrap i{
    width: 18px;
}
.site-fotter{
  background-color: rgba(247, 247, 248, 0.4);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.site-ftr-headline img{
  width: 160px;
}
.site-fotter-inner{
    display: flex;
    justify-content: space-between;
    padding: 30px 35px 0;
    align-items: flex-start;
}
.copyright {
    padding: 12px 0;
    margin-top: 16px;
    border-top: 1px solid #eee;
}
.site-fotter-single{
  display: inline-block;
    text-align: left;
    width: 24%;
    vertical-align: top;
}
.site-ftr-items{
  display: flex;
  flex-direction: column;
}
.site-ftr-items a img{
  width: 24px;
}
.ftr-icn-wrap a{
  margin-right: 16px;
}
.site-fotter-single img{
  width: 180px;
}
.site-ftr-items a:hover{
  color: #01add5;
}
.desktop-ctg-sngl{
    background-color: #fff;
    border: 1px solid #eee;
    padding: 4px 8px;
    border-radius: 6px;
    margin-right: 6px;
    transition: all ease-in-out .2s;
}
.desktop-category-wrap{
    overflow-y: auto;
}
.desktop-ctg-sngl a p{
    color: #000;
    font-size: 16px;
    white-space: nowrap;
}
.desktop-category-wrap::-webkit-scrollbar {
  width: 10px;
}
.desktop-ctg-sngl:hover{
    background-color: #599ACC;
}
.desktop-ctg-sngl:hover p{
    color: #fff;
}
.apply-fltr-btn a{
    font-size: 14px;
    line-height: 20px;
    background: #599ACC;
    color: #fff;
    padding: 6px 15px;
    border-radius: 6px;
}
.desktop-category-wrap{
    margin-top: 0px;
}

/*Add To Cart Popup*/
.cart-color-select-inner a img{
    width: 55px;
    height: 75px;
    margin-right: 6px;
}
.cart-color-select h3 {
    color: #282c3f;
    font-size: 16px;
}
.cart-size-select{
    margin-top: 15px;
}
.add-cart-modal .modal-header .close {
    background: transparent;
    border: none;
    position: absolute;
    right: -12px;
    top: -10px;
}
.add-cart-modal .modal-header .close span {
    width: 50px;
    display: block;
    height: 50px;
    font-size: 35px;
}
.add-cart-modal .modal-header-left h5 {
    padding-left: 40px;
    font-size: 18px;
    font-weight: 400;
}
.add-cart-modal .modal-header{
    border-bottom: none;
    padding: 0;
}
.cart-description-left img{
    width: 60px;
    height: 80px;
    margin-right: 16px;
    border-radius: 8px;
}
.add-cart-modal-wrap{
    padding: 0;
}
.add-cart-modal .modal-content{
    padding: 24px;
    border-radius: 4px;
    width: 425px;
}
.cart-description-rgt p{
    font-size: 16px;
    color: #3e4152;
    line-height: 22px;
    margin-bottom: 6px;
}
.add-cart-modal .price-discount-wrap h4{
    color: #282c3f;
    font-weight: 700;
    font-size: 16px;
}
.add-cart-modal .price-discount-wrap h5{
    color: #94969f;
    font-size: 14px;
}
.add-cart-modal .price-discount-wrap span{
    font-weight: 600;
    letter-spacing: .5px;
    color: #ff905a;
    font-size: 16px;
}
.cart-description{
    border-bottom: 1.5px solid #eaeaec;
    padding-bottom: 16px;
    margin-bottom: 15px;
}
.product-size-wrap .custom-radios input[type=radio] + label{
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 16px;
}
.prdt-size-crcl{
    flex-direction: column;
}
.custom-radios input[type=radio] + label span.prdt-size-crcl{
    border: 1px solid #BEBCBD;
    border-radius: 12px;
    background: #fff;
    color: #3C4242;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
.custom-radios input[type=radio]:checked + label span.prdt-size-crcl{
    background: #3C4242;
    color: #fff;
    border: 1px solid #3C4242;
}
.product-size-wrap .custom-radios input{
    display: none;
}
.cart-size-select h3{
    color: #282c3f;
    font-size: 16px;
}
.seller-name p{
    margin-bottom: 0;
    margin-top: 18px;
}
.seller-name span{
    font-weight: 700;
}
.done-btn a{
    border-radius: 4px;
    background-color: #599ACC;
    padding: 12px 0;
    color: #fff;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.product-dtl-left{
        position: sticky;
    top: 92px;
    overflow-y: scroll;
    height: 100vh;
    padding-right: 10px;
}
.single-dropdown h3{
  margin-bottom: 10px!important;
}

/*Site CSS Ends Here*/

/*Destop Code Ends Here*/

/*Responsive Tablet Code Starts Here*/
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/*Responsive Mobile Code Starts Here*/
@media only screen and (max-width: 767px){

.trending-card-sngl{
    flex: 0 0 30%;
    max-width: 30%;
}
.trending-card-sngl p{
	font-size: 12px;
}
.new-arrival-sngl h3{
    font-size: 16px;
    font-weight: 600;
}
.price-discount-wrap h4{
	font-size: 14px;
}
.save-zone-sngl{
	margin-bottom: 18px;
}
.mens-bestseller{
	margin-top: 0!important;
}
.kids-bestseller, .women-bestseller{
	padding-top: 0!important;
}
.product-list-bnr-single h3{
	font-size: 40px;
}
.product-detail-sec-inner{
    padding: 0 10px;
}
.product-dtl-rgt-inner .bestseller-single-card{
    width: 50%;
    margin-bottom: 5px !important;
}
.product-detail-sec-inner .product-dtl-left-inner{
    width: 100%;
    display: none;
}
.product-detail-sec-inner .col-md-9{
    width: 100%;
    padding-left: 0;
    padding-right: 4px;
}
.bestseller-img > img{
    height: 250px;
}
.product-dtl-left-inner .single-dropdown .toggle{
    font-size: 13px;
}
.product-dtl-left-inner{
    padding: 12px 10px;
}
.filter-data, .price-range, .colors-choose, .size-wrap{
    padding-bottom: 0;
}
.product-dtl-left-inner .single-dropdown .list-main{
    padding-left: 0;
}
.form-group label:before{
    width: 12px;
    height: 12px;
    margin-right: 6px;
}
.form-group label{
    font-size: 14px;
}
.add-cart-btn img{
    width: 16px;
}
.add-cart-btn a p{
    font-size: 12px;
}
.bestseller-content{
    padding: 8px 7px;
}
.bestseller-content h3{
    font-size: 12px;
}
.price-discount-wrap h5{
    margin: 0 6px 0 5px;
}
.bestseller-content span{
    font-size: 12px;
}
.rating-container{
    top: 5px;
    left: 0px;
}
.sort-filter-mobile-wrap{
    display: block;
    padding: 10px 0 6px;
    border-bottom: 1px solid #eee;
}
.sort-filter-inner .sort-btn{
    width: 50%;
    border-right: 2px solid #d5d7db;
}
.sort-filter-inner .filter-btn{
    width: 50%;
}
.toggle{
    font-weight: 400;
}
.filter-data{
    border-bottom: none;
    margin-top: 0!important;
}
.filter-modal .modal-dialog{
    margin: 0;
    border: none;
}
.filter-modal .modal-header .close{
    background: transparent;
    border: none;
    position: absolute;
    left: 0;
    top: -12px;
}
.filter-modal .modal-header .close span{
    width: 50px;
    display: block;
    height: 50px;
    font-size: 50px;
}
.sort-modal .modal-header .close span {
    width: 50px;
    display: block;
    height: 50px;
    font-size: 50px;
}
.sort-modal .modal-header .close{
    background: transparent;
    border: none;
    position: absolute;
    left: 0;
    top: -12px;
}
.sort-modal .modal-header h5{
    color: rgba(135,135,135,1.00);
}
.modal-header{
    position: relative;
}
.modal-header h5{
    padding-left: 45px;
}
.filter-modal .modal-content{
    outline: none;
    border: none;
}
.sort-inner-sngl{
    padding: 10px 15px;
}



/*header-css*/
.search-icn-wrap i{
    font-size: 20px;
}
.search-icn-wrap{
    margin-right: -10px;
}
.product-header{
    margin-bottom: 0!important;
    padding: 12px 4px;
}
.prdt-logo img{
    width: 100px;
    margin-left: 12px;
}
.prdt-nav-wrap{
    display: none;
}
.prdt-logo{
    width: 20%;
}
.prdt-header-rgt{
    padding-left: 0!important;
    justify-content: flex-start;
}
.prdt-search-wrap{
    width: 50%;
}
.header-rgt-img{
    margin-right: 14px!important;
}
.header-rgt-img{
    width: 25px;
    height: 25px;
    background-color: transparent;
}
.header-rgt-img img{
    width: 18px;
    height: 18px;
}
.prd-header-inner{
    justify-content: space-between;
}
.prdt-search-wrap .form-input{
    width: 100%;
    font-size: 12px;
    height: 38px;
    border-radius: 10px;
}
.form .fa-search{
    top: 12px;
}
.hamburger-icn div{
  width: 30px;
  height: 2px;
  background-color: #599ACC;
  margin: 6px 0;
}
.mobile-search img{
    width: 22px;
    height: 22px;
}
.mobile-header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 12px 10px;
    position: sticky;
    top: -2px;
    left: 0;
    z-index: 999;
    background: #fff;
}
.search-btn{
    margin-right: 14px;
}
.back-icn-prdt-name p{
    font-size: 16px;
    font-weight: 400;
    color: #212121;
}
.back-icn-prdt-name a img{
    width: 22px;
}
.mobile-header .header-rgt-img img{
    width: 22px;
    height: 22px;
}
.back-input-wrap{
    position: relative;
}
.back-input-wrap .in-search-icn{
    position: absolute;
    right: 13px;
    top: 16px;
}
.back-input-wrap .in-search-icn img{
    width: 35px;
    height: 35px;
}

.search-icn-open{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
}
.search-open-sngl img{
    width: 40px;
    height: 40px;
    margin-right: 16px;
}
.search-open-sngl{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    height: 56px;
    padding-left: 10px;
}
.search-icn-open form input{
    border: 2px solid #eee;
    padding: 14px 12px 14px 0;
    padding-left: 53px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    position: relative;
}
.search-bck{
    position: absolute;
    z-index: 9;
    top: 13px;
    left: 13px;
}

.mobile-ctg-sngl a p{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    white-space: nowrap;
}
.mobile-ctg-sngl:hover{
    background-color: #599ACC;
}
.mobile-ctg-sngl:hover p{
    color: #fff;
}
.mobile-ctg-sngl{
    padding: 6px 10px;
    border-radius: 6px;
    margin-right: 8px;
    background-color: #fff;
    border: 1px solid #eee;
}
.product-detail-sec{
    margin-bottom: 0px !important;
}
.mobile-category{
    overflow-y: scroll;
    padding-top: 10px;
}
.mobile-category::-webkit-scrollbar {
  width: 10px;
}


/*filter css*/
.filter-mobile-inner{
    padding: 0;
}
.flt-inner-left{
    background-color: rgb(241 243 246);
    width: 35%;
}
.flt-inner-rgt{
    width: 65%;
}
.flt-inner-left .nav-link.active{
    background-color: #fff;
    color: #5899CC;
    border-radius: 0;
}
.flt-inner-left .nav-link{
    color: #000;
    height: 56px;
}

/*custom checkbox*/
.flt-inner-rgt .form-group {
  display: block;
  margin-bottom: 18px;
  margin-top: 15px;
}
.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.form-group label {
  position: relative;
  cursor: pointer;
}
.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
}
.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/*responsive-fotter*/
.site-fotter{
  padding: 12px 10px;
}
.site-fotter-inner{
    flex-wrap: wrap;
    padding: 0;
}
.site-fotter-inner .logo-sngl{
  width: 100%;
  text-align: center;
}
.site-fotter-single{
    width: 48%;
    margin-bottom: 12px;
}
.site-ftr-headline h3{
    font-size: 14px;
    margin-bottom: 12px;
}
.site-ftr-items a{
    font-size: 14px;
    line-height: 16px;
}
.ftr-icn-wrap a{
    margin-right: 10px;
}
.site-ftr-items a img{
    width: 20px;
    object-fit: contain;
}
.apply-filter-button a{
    color: #000;
}
.filter-data-inner{
    position: relative;
}
.bestseller-img:hover .prd-icn-wrap{
    transform: initial;
}
.prd-icn-wrap{
    top: 7px;
    right: 6px;
    transform: translateX(0);
}
.prd-icn-wrap a{
    width: 26px;
    height: 26px;
    box-shadow: rgba(100, 95, 111, 0.2) 0px 7px 20px 0px;
}
.prd-icn-wrap img{
    width: 18px;
}
.add-cart-btn{
    transform: translateY(0);
    background-color: #5899cc;
}
.add-cart-modal .modal-content{
    width: 100%;
    padding: 24px 18px;
}
.add-cart-modal .modal-header .close{
    right: -30px;
    top: -39px;
}
.add-cart-btn a p{
    color: #fff;
}
.add-cart-btn img{
    filter: invert(1) brightness(10);
}
.bestseller-content p{
    padding: 2px 0 3px;
}
.product-dtl-left{
    position: initial;
    height: 100%;
}
.product-detail-sec-inner .col-md-3{
  width: 100%;
}
.cart-color-select-inner a{
  margin-bottom: 6px;
}
.mb-bs-info{
    width: 100%;
}

}
/* Mobile Respons
ive CSS Ends Here 