/*FONTS*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* some common css */
*{
    box-sizing: border-box;
}
body{
    font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--bs-black);
}
:root{
	--primary-color: #5899CC;
    --text-light-grey:#585858;
    --text-white:#fff;
    --text-grey:#878d92;
    --text-black:#000;
    --text-lg-black:#1C1F35;
    --text-dark-blue:#3985C7;
    --text-dark-grey: #636363;
    --color-light-blue: #3985C7;
    --color-orange: #EC7D1A;
    --color-light-grey: #333333;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	text-decoration: none;
	color: #000;
	transition: all .3s ease-in-out;
}
/*a:hover{
	color: var(--primary-color);
}*/
.lh-normal{
	line-height: normal;
}
.lh-9{
	line-height: 9px;
}
.lh-24{
    line-height: 24px
}
.lh-26{
    line-height: 26px
}
.lh-32{
    line-height: 32px
}
.lh-38{
    line-height: 38px
}
.lh-52{
	line-height: 52px;
}
.lh-72{
    line-height: 72px
}
.fs-8{
	font-size: 8px;
}
.fs-10{
	font-size: 10px;
}
.fs-12{
    font-size: 12px;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-18{
    font-size: 18px;
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
	font-size: 24px;
}
.fs-30{
	font-size: 30px;
}
.fs-35{
	font-size: 35px;
}
.fs-40{
	font-size: 40px;
}
.fs-46{
	font-size: 46px;
}
.fs-48{
	font-size: 48px;
}
.fs-50{
	font-size: 50px;
}
.fs-60{
    font-size: 60px;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
.text-dark-grey{
	color: var(--text-dark-grey);
}
.color-light-blue{
	color: var(--color-light-blue);
}
.text-dark-blue{
	color: var(--text-dark-blue);
}
.color-orange{
	color: var(--color-orange);
}
.color-light-grey{
	color: var(--color-light-grey);
}
.color-lg-black{
	color: var(--text-lg-black);
}
.color-white{
	color: #fff;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.primary-btn{
	background-color: var(--primary-color);
	padding: 10px 20px;
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	border-radius: 6px;
	transition: all .3s ease-in-out;
}
.primary-btn:hover{
	color: #fff;
	background-color: #376285;
}
.secondary-btn{
    background-color: var(--text-white);
    padding: 10px 20px;
	color: #3985C7;
	font-size: 14px;
	font-weight: 500;
	border-radius: 6px;
	transition: all .3s ease-in-out;
}
.secondary-btn:hover{
	background-color: #3985C7;
	color: #fff;
	transition: all .3s ease-in-out;
}


/*Site CSS Starts Here*/
img {
    width: 100%;
    height: 100%;
}
.header-img img{
	width: 180px;
}
/*header css starts here*/
.prdt-logo img{
    width: 120px;
}
.prdt-nav-wrap ul{
    flex-direction: row;
}
.prdt-nav-wrap ul li a{
    margin-right: 20px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #817e7f;
}
.dropDown-content-heading a{
	color: #599ACC;
}
.dropDown-content-heading{
	margin-bottom: 8px;
}
.product-header{
    padding: 12px 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9;
    background: #fff;
}
.product-list-banner{
    margin-top: 82px;
}
.prdt-search-wrap .form{
    position: relative;
}
.form .fa-search{
    position: absolute;
    top:15px;
    left: 20px;
    color: #9ca3af;
}
.prdt-search-wrap .form span{
    position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}
.left-pan{
    padding-left: 7px;
}
.left-pan i{ 
   padding-left: 10px;
}
.prdt-search-wrap .form-input{
    height: 45px;
    width: 475px;
    text-indent: 33px;
    border-radius: 8px;
    background: #f5f5f6;
    border: 1px solid #f5f5f6;
}
.form-input:focus{
    box-shadow: none;
    border:none;
}
.header-rgt-img{
    background-color: #F6F6F6;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.header-rgt-img img{
    width: 25px;
    height: 25px;
}
.prdt-logo{
    width: 10%;
}
.prdt-nav-wrap{
    width: 35%;
}
.prdt-search-wrap{
    width: 35%;
}
.prdt-header-rgt{
    width: 20%;
    justify-content: end;
}
.dropDown {
  display: inline-block;
  position: relative;
  z-index: 9;
}
.dropDown:hover .dropDown-content {
  display: inline;
}
.dropDown-content {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -570px;
  overflow: hidden;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.175);
  padding: 12px 20px;
  width: 1130px;
  transition: all .3s ease-out;
}
.header-rgt-img:hover img{
    filter: invert(1)brightness(10);
}
.dropDown-cnt-wrap{
    position: fixed;
    top: 53px;
    bottom: 0;
    left: 64px;
    right: 0;
    visibility: hidden;
    transition: all .3s ease-out;
}
/*.prdt-nav-wrap .navbar-nav .dropDown:hover .dropDown-cnt-wrap{
	visibility: visible;
}*/
.dropDown-content-wrap{
	margin-right: 24px;
}
.dropDown-content-wrap ul{
	border-bottom: 1px solid #eaeaec;
	padding-bottom: 8px;
}
.dropDown-content li a {
  color: black;
  display: block;
}
.dropDown-content .dropItem{
    margin-bottom: 10px;
}
.dropDown-content .dropItem a{
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin-right: 0;
}
.dropDown-content .dropItem a:hover{
    color: #5899cc;
}
.header-rgt-img:hover{
    background-color: #5899cc;
}
/*header css ends here*/

/*Fotter Css Starts Here*/
.site-ftr-items a{
    font-size: 14px;
    font-weight: 400;
    color: #000;
    line-height: 1;   
    margin-bottom: 15px;
}
.site-ftr-items-wrap{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.site-ftr-items-wrap a{
    margin-bottom: 0px;
    margin-left: 10px;
}
.site-ftr-headline h3{
    color: #599ACC;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}
.site-ftr-items-wrap i{
    width: 18px;
}
.site-fotter{
    background-color: rgba(247, 247, 248, 0.4);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.site-ftr-headline img{
    width: 160px;
}
.copyright {
    padding: 12px 0;
    margin-top: 16px;
    border-top: 1px solid #eee;
}
.site-fotter-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px 35px 0;
}
.site-fotter-single{
    display: inline-block;
    text-align: left;
    width: 24%;
    vertical-align: top;
}
.site-ftr-items{
    display: flex;
    flex-direction: column;
}
.site-ftr-items a img{
    width: 24px;
}
.ftr-icn-wrap a{
    margin-right: 16px;
}
.site-fotter-single img{
    width: 180px;
}
.site-ftr-items a:hover{
    color: #01add5;
}
.trending-catg-sec{
	padding-top: 0!important;
    margin-bottom: 33px !important;
}
.new-arrival-sec{
	padding-top: 0!important;
}
.big-save-zone{
	padding-bottom: 0!important;
}
.kids-bestseller, .women-bestseller{
	padding-top: 0!important;
}
.prdt-arw-btn{
    top: 23px;
    background-color: #599ACC;
}
.swiper-button-prev{
    right: 54px;
    left: initial;
}
.banner-swiper .swiper-button-prev{
	right: initial;
}
.new-arrival-sec .swiper{
	padding-top: 40px;
}
.mens-bestseller .swiper{
	padding-top: 40px;
} 
.kids-bestseller .swiper{
	padding-top: 40px;
}
.women-bestseller .swiper{
	padding-top: 40px;
}
.prdt-arw-btn img{
	filter: invert(1)brightness(10);
}

/*Add To Cart Popup*/
.add-cart-modal .modal-header .close {
    background: transparent;
    border: none;
    position: absolute;
    right: -12px;
    top: -10px;
}
.add-cart-modal .modal-header .close span {
    width: 50px;
    display: block;
    height: 50px;
    font-size: 35px;
}
.add-cart-modal .modal-header-left h5 {
    padding-left: 40px;
    font-size: 18px;
    font-weight: 400;
}
.add-cart-modal .modal-header{
	border-bottom: none;
	padding: 0;
}
.cart-description-left img{
    width: 60px;
    height: 80px;
    margin-right: 16px;
}
.add-cart-modal-wrap{
	padding: 0;
}
.add-cart-modal .modal-content{
    padding: 24px;
    border-radius: 4px;
    width: 425px;
}
.cart-description-rgt p{
    font-size: 16px;
    color: #3e4152;
    line-height: 22px;
    margin-bottom: 6px;
}
.add-cart-modal .price-discount-wrap h4{
    color: #282c3f;
    font-weight: 700;
    font-size: 16px;
}
.add-cart-modal .price-discount-wrap h5{
    color: #94969f;
    font-size: 14px;
}
.add-cart-modal .price-discount-wrap span{
    font-weight: 600;
    letter-spacing: .5px;
    color: #ff905a;
    font-size: 16px;
}
.cart-description{
    border-bottom: 1.5px solid #eaeaec;
    padding-bottom: 16px;
    margin-bottom: 15px;
}
.product-size-wrap .custom-radios input[type=radio] + label{
	width: 50px;
  	height: 50px;
  	cursor: pointer;
  	margin-right: 16px;
}
.prdt-size-crcl{
    flex-direction: column;
}
.custom-radios input[type=radio] + label span.prdt-size-crcl{
	border: 1px solid #BEBCBD;
	border-radius: 12px;
	background: #fff;
	color: #3C4242;
	width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: all .3s ease-in-out;
}
.custom-radios input[type=radio]:checked + label span.prdt-size-crcl{
	background: #3C4242;
	color: #fff;
	border: 1px solid #3C4242;
}
.product-size-wrap .custom-radios input{
	display: none;
}
.cart-size-select h3{
    color: #282c3f;
    font-size: 16px;
}
.seller-name p{
	margin-bottom: 0;
	margin-top: 18px;
}
.seller-name span{
	font-weight: 700;
}
.done-btn a{
    border-radius: 4px;
    background-color: #599ACC;
    padding: 12px 0;
    color: #fff;
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.prdt-nav-wrap .navbar-nav .dropDown.hovered-menu .dropDown-cnt-wrap{
    visibility: visible;
}
.wishlist-pricing h4{
    font-size: 16px;
    color: #282c3f;
}
.wishlist-pricing h5{
    color: #282c3f;
    font-size: 12px;
    font-weight: 400;
    margin: 0 8px 0 6px;
    opacity: .7;
    text-decoration: line-through;
}
.wishlist-pricing span{
    font-size: 14px;
    color: #00B852;
}
.wishlist-card-img img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}
.wishlist-head h3{
    font-size: 22px;
    font-weight: 600;
    color: #282c3f;
}
.wishlist-head{
    padding: 40px 0;
}
.wishlist-head span{
    font-size: 18px;
    font-weight: 400;
    color: #282c3f;
    padding-left: 10px;
}
.wishlist-card-content h3{
    font-size: 16px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wishlist-card{
    outline: 1px solid #e9e9eb;
    width: 23%;
    border-radius: 12px;
}
.wishlist-card-content-top{
    padding: 10px 10px 0;
        height: 77px;
    border-bottom: 1px solid #e9e9eb !important;
}
.wishlist-wrap-inner{
    display: flex;
    justify-content: space-between;
}
.wishlist-card-content-btm a{
        font-size: 14px;
    font-weight: 600;
    color: #599ACC;
}
.wishlist-card-content-btm{
    padding: 14px 0;
    text-align: center;
}
.wishlist-card-img{
    position: relative;
}
.wishlist-card-img .remove-wishlist{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.remove-wishlist i{
    font-size: 22px;
}

/*Site CSS Ends Here*/

/*Destop Code Ends Here*/

/*Responsive Tablet Code Starts Here*/
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/*Responsive Mobile Code Starts Here*/
@media only screen and (max-width: 767px){

/*header-css*/
.product-header{
    margin-bottom: 0!important;
    padding: 12px 4px;
}
.prdt-logo img{
    width: 100px;
    margin-left: 12px;
}
.prdt-nav-wrap{
    display: none;
}
.prdt-logo{
    width: 20%;
}
.prdt-header-rgt{
    padding-left: 0!important;
    justify-content: flex-start;
}
.prdt-search-wrap{
    width: 50%;
}
.header-rgt-img{
    margin-right: 14px!important;
}
.header-rgt-img{
    width: 25px;
    height: 25px;
    background-color: transparent;
}
.header-rgt-img img{
    width: 18px;
    height: 18px;
}
.prd-header-inner{
    justify-content: space-between;
}
.prdt-search-wrap .form-input{
    width: 100%;
    font-size: 12px;
    height: 38px;
    border-radius: 10px;
}
.form .fa-search{
    top: 12px;
}
.hamburger-icn div{
  width: 24px;
  height: 2px;
  background-color: #000;
  margin: 6px 0;
}
.mobile-search img{
	width: 22px;
	height: 22px;
}
.mobile-header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 4px 10px;
    position: sticky;
    top: -2px;
    left: 0;
    z-index: 999;
    background: #fff;
}
.mobile-header .header-rgt-img img{
	width: 22px;
	height: 22px;
}
.back-input-wrap{
	position: relative;
}
.back-input-wrap .in-search-icn{
	position: absolute;
	right: 14px;
	top: 16px;
}
.back-input-wrap .in-search-icn img{
	width: 35px;
	height: 35px;
}

.toggle {
  all: unset;
  background-color: transparent;
  color: #000;
  width: 100%;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0!important;
}
.toggle::after {
  content: "";
  width: 10px;
  height: 10px;
  color: #4a8fc5;
  border-width: 0 3px 3px 0;
  border-style: solid;
  transform: rotate(45deg);
  transition: 0.4s;
}
.list {
  background-color: white;
  color: #444;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  height: 0;
  transition: 0.4s;
}
.list-item {
  transition: 0.4s, transform 0.4s var(--delay);
  user-select: none;
  cursor: pointer;
}
.list-item:hover {
  color: #4a8fc5!important;
}
.toggle.active::after {
  transform: rotate(225deg);
}
.list.show{
	height: auto;
}
.single-dropdown ul .list-item {
    font-size: 14px;
    color: #8A8989;
    padding: 10px 20px;
}
.trending-catg-inner{
	flex-wrap: wrap;
}
.trending-catg-inner .trending-catg-sngl{
	width: 24%;
}
.trending-catg-inner .trending-catg-sngl img{
	width: 85px;
    height: 90px;
    object-fit: cover;
}
.sub-dropdown .toggle {
    font-size: 16px;
    color: #8A8989;
}
.hamburger-prdt-catg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 9;
    transform: translateX(-100%);
    transition: all ease-in-out .5s;
}
.hamburger-prdt-catg.active{
	transform: translateX(0);
}
.sidebar-inner{
	width: 75%;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 14px;
}
.sidebar-cross a img{
	width: 24px;
	filter: invert(1);
}
.sidebar-cross{
	position: absolute;
    z-index: 9;
    right: 20px;
    top: 8px;
}
.sidebar-inner .single-dropdown{
    padding: 10px 20px;
}
.sidebar-inner .sub-dropdown{
	padding: 0;
}
.sub-dropdown .list-item-inner li a{
	color: #8A8989;
	font-size: 16px;
	font-weight:400;
}
.trending-catg-sngl p{
	margin-bottom: 14px!important;
    font-size: 14px;
    line-height: 18px;
}
.mobile-search{
    margin-right: 14px;
}
.banner-swiper .swiper-button-prev, .banner-swiper .swiper-button-next{
	display: none;
}
.swiper-pagination-bullet-active{
	background-color: #fff;
}
.mens-bestseller h3{
	margin-bottom: 0rem!important;
}
.kids-bestseller h3{
	margin-bottom: 0rem!important;
}
.women-bestseller h3{
	margin-bottom: 0rem!important;
}
.sidebar-head h3{
	padding-left: 20px;
	font-size: 22px;
	font-weight: 500;
}
/*fotter responsive*/
.site-fotter{
    padding: 12px 10px;
}
.site-fotter-inner{
    flex-wrap: wrap;
    padding: 0;
}
.site-fotter-inner .logo-sngl{
    width: 100%;
    text-align: center;
}
.site-fotter-single{
    width: 48%;
    margin-bottom: 12px;
}
.site-ftr-headline h3{
    font-size: 14px;
    margin-bottom: 12px;
}
.site-ftr-items a{
    font-size: 14px;
    line-height: 16px;
}
.ftr-icn-wrap a {
    margin-right: 10px;
}
.site-ftr-items a img{
    width: 20px;
    object-fit: contain;
}
.prdt-arw-btn{
    background-color: #599ACC;
    bottom: 0px;
    top: initial;
}
.prdt-arw-btn img{
	filter: invert(1) brightness(10);
}
.swiper-button-prev{
	right: 54px;
    left: initial;
}
.mens-bestseller .swiper{
	padding-bottom: 45px;
	padding-top: 0;
}
.kids-bestseller .swiper{
	padding-bottom: 45px;
	padding-top: 0;
}
.women-bestseller .swiper{
	padding-bottom: 45px;
	padding-top: 0;
}
.new-arrival-sec .swiper{
	padding-bottom: 45px;
	padding-top: 0;
}
.mens-bestseller h3, .kids-bestseller h3, .women-bestseller h3, .new-arrival-sec h3{
	margin-bottom: 20px!important;
}
.mens-bestseller, .kids-bestseller, .women-bestseller, .new-arrival-sec{
	margin-top: 30px!important;
	margin-bottom: 0!important;
}
.women-bestseller{
	margin-bottom: 2rem!important;
}
/*search css*/
.search-icn-open{
	position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
}
.search-open-sngl img{
	width: 40px;
	height: 40px;
	margin-right: 16px;
}
.search-open-sngl{
    background-color: #fff;
    border-bottom: 1px solid #eee;
    height: 56px;
    padding-left: 10px;
}
.search-icn-open form input{
	border: 2px solid #eee;
    padding: 16px 12px 15px 0;
    padding-left: 53px;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    position: relative;
}
.search-bck{
	position: absolute;
    z-index: 9;
    top: 13px;
    left: 13px;
}
.bestseller-img:hover .prd-icn-wrap{
    transform: initial;
}
.prd-icn-wrap{
    top: 7px;
    right: 6px;
    transform: translateX(0);
}
.prd-icn-wrap a{
    width: 26px;
    height: 26px;
   	box-shadow: rgba(100, 95, 111, 0.2) 0px 7px 20px 0px;
}
.prd-icn-wrap img{
    width: 18px;
}
.add-cart-btn{
    transform: translateY(0);
        background-color: #5899cc;
}
.add-cart-btn img{
    filter: invert(1) brightness(10);
}
.add-cart-btn a p{
	color: #fff;
}
.add-cart-modal .modal-content{
	width: 100%;
	padding: 24px 18px;
}
.add-cart-modal .modal-header .close{
    right: -15px;
    top: -15px;
}
.bestseller-content p{
	padding: 2px 0 3px;
}
.big-save-zone{
	margin-top: 30px!important;
}

/*wishlist-responsive css*/
.wishlist-head{
    padding: 20px 0;
}
.wishlist-card{
    width: 49%;
    margin-bottom: 18px;
}
.wishlist-wrap-inner{
    flex-wrap: wrap;
}
.search-icn-wrap i {
    font-size: 22px;
}
.search-icn-wrap {
    margin-right: -10px;
}
.mb-bs-info{
    width: 100%;
}
.wishlist-card-img img{
    height: 220px;
}
.hamburger-icn .sm-line{
    width: 19px;
}
.product-list-banner{
    margin-top: 0;
}

}
/* Mobile Responsive CSS Ends Here 